h1{
    color: red;
    font-size: xx-large;
    text-align: center;
}
.aa{
    border: 20px solid sandybrown;
    border-radius: 40px;
    margin: 10px 40px 30px 20px;
    width: 30%;
    float:center;
    padding: 20px;
}
.no{
    color: rgb(49, 28, 1);
    background-color: bisque;
    border: 20px dashed greenyellow;
    margin: 20px 90px 50px 40px;
    width: 20%;
    float: right;
}
p{
    text-align: center;
}
#h{
    text-align: center;
    text-align: top;
}
#fa{
    color: purple;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood; width:25%;
}
.a{
    text-align: center;
}